C:/Users/Tarek[[:space:]]Mohamed/OneDrive/Desktop/Floods[[:space:]]Detection[[:space:]]Using[[:space:]]Pre-Trained[[:space:]]EfficientNetV2B0 filter=lfs diff=lfs merge=lfs -text
C:/Users/Tarek[[:space:]]Mohamed/OneDrive/Desktop/Floods[[:space:]]Detection[[:space:]]Using[[:space:]]Pre-Trained[[:space:]]EfficientNetV2B0 filter=lfs diff=lfs merge=lfs -text
C:/Users/Tarek[[:space:]]Mohamed/OneDrive/Desktop/Floods[[:space:]]Detection[[:space:]]Using[[:space:]]Pre-Trained[[:space:]]EfficientNetV2B0 filter=lfs diff=lfs merge=lfs -text
